@use 'variables' as *;

.habilidades {
    display: flex;
    flex-direction: column;
    padding: 10rem;
        
    h2 {
        text-align: center;
        margin: 5rem 0;
        font-size: 3rem;

        background-image: linear-gradient(
            90deg, 
            $cor-destaque, 
            white, 
            $cor-destaque
            );

            background-size: 200% 100%;

        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: gradientMove 6s linear infinite;
        }

@keyframes gradientMove {

    0% {
        background-position: 0% 50%;
        }
    100% {
        background-position: 200% 50%;
    }
}
    
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: stretch;
}

.skill-card {
    background-color: rgba(255, 255, 255, 0.136);
    border-radius: 24px;
    padding: 2rem;
    
    position: relative;

    overflow: hidden;

    border: 1px solid rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease;

    border-top: 4px solid $cor-destaque;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

    h3 {
        margin-bottom: 1.5rem;
        text-align: center;
        color: $cor-principal;
        font-weight: 700;
    }

    &::before {

        content: "";

        position: absolute;
        
        width: 320px;
        height: 320px;

        left: var(--x);
        top: var(--y);
        
        transform: translate(-50%, -50%);
        
        border-radius: 50%;

        pointer-events: none;
        will-change: left, top;
        z-index: 1; //fumaça abaixo dos ícones
        
        background: 
        radial-gradient(
            circle,
            rgba(255, 255, 255, .18) 0%,
            rgba(244, 114, 182, .08) 35%,
            transparent 70%
        );

        filter: blur(45px);

        opacity: 0;

        transition: 
        left .08s linear,
        top .08s linear,
        opacity .25s ease;

    }

    &:hover {
        transform: translateY(-5px);

        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    }

    &:hover::before {
        opacity: 1;
    }
}



.skill-icons {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    z-index: 2; //ícones acima do efeito da "fumaça"

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        width: 90px;
    }

    img {
        width: 48px;
        height: 48px;
    }

    span {
        font-size: .9rem;
        font-weight: 600;
        color: $cor-principal;
    }

}