@use "variables" as *;

header {
    height: 50px;
    width: 100%;
    position: fixed;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid;
    
    .logo {
        color: rgb(222, 68, 184);
        font-size: 1.5rem;
        font-family: $fonte-codigo;
    }
    
    .logo-nome {
        color: rgb(249, 248, 248);
    }
    
    a {
        color: $cor-titulo;
        padding: 10px;
    
        &:hover {
        background-color: rgb(211, 90, 157);
        border-radius: 55px;
        }  
    }
    .navbar {
    display: flex;
    width: auto;
    padding: 1rem 2rem;
    background-color: rgba(11, 9, 11, 0);
    font-weight: bold;
    
    
    ul {
        display: flex;
        gap: 2rem;
        }
    }
}
