$cor-principal: #090909; 
$cor-destaque: #f472b6;
$cor-titulo: #fbcfe8;
$cor-texto: #d4b8a0;
$fundo-alternativo: #1a1a1a;

$fonte-titulo: 'Playfair Display SC', serif;
$fonte-texto: 'DM Sans', sans-serif;

