$cor-principal: #0e0e0e; 
$cor-destaque: #f472b6;
$cor-titulo: #fbcfe8;
$cor-texto: #d4b8a0;
$fundo-alternativo: #1a1a1a;
$fundo-sobre: #ef84ab;
$cor-texto-escuro: #2d1b25;

$fonte-titulo: 'Playfair Display SC', serif;
$fonte-texto: 'DM Sans', sans-serif;
$fonte-codigo:'Source Code Pro', monospace;
